.fixed-header {
    display: flex;
    align-items: center;
    background-color: #007bff;
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
    position: fixed; /* Makes the header fixed at the top */
    top: 0; /* Positions the header at the top of the page */
    width: 100%; /* Ensures the header spans the full width of the viewport */
    z-index: 1000; /* Keeps the header above other elements */
    margin-left: -50px;
}

.logo {
    height: 50px;
    margin-left : 450px;
}

.fixed-header h1 {
    margin: 0;
    font-size: 38px;
    color: white;
}
.st-emotion-cache-jkfxgf p {
    word-break: break-word;
    margin-bottom: 0px;
    font-size: 14px;
    width: 95px;
    line-height: normal;
} 
.st-emotion-cache-12h5x7g p {
    word-break: break-word;
    margin-bottom: 0px;
    width: 280px;
}
.st-emotion-cache-6qob1r {
    position: relative;
    height: 100%;
    width: 350px;
    overflow: overlay;
}
[data-baseweb="tab-highlight"] {
    background-color: white
}
/* Style for the prompt buttons */
.stButton button {
    width: 100%;
    background-color: white;  /* Default color */
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;  /* Smooth transition for color change */
    margin-bottom: 8px;
    text-align: left;
}

/* Change color on hover */
.stButton button:hover {
    background-color: white !important;
    color: black;
    border: 2px solid black;  /* Add a black border on hover */
}

/* Change color when clicked/active */
.stButton button:active {
    background-color: white !important;
    color: black;
    border-color: blue;
    border: 2px solid black;  /* This will keep the blue border when active */
}

/* Keep the blue color when selected */
.stButton button:focus {
    background-color: white !important;
    color: black;
    box-shadow: none !important;
}